.actions {
  padding: 1rem 0;
  grid-column: 5 / 14;
  align-self: start;
  height: 3.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__buttons {
    display: flex;

    & > * {
      margin-right: 2.5rem;
    }
  }
}